<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %}
  <aside class="bcls-aside bcls-aside--information">NOTE: In this topic, some of the steps are performed in Beacon Classic.</aside>
  {% endif %}

  <section class="bcls-section">
    <h2 id="Overview">Overview</h2>
    <p>To create an advertisement configuration you will need to do the following:</p>
    <ul>
      <li>Obtain an ad tag server URL from your ad service provider. This will be used in Video Cloud Studio to create your SSAI ad configuration.</li>
      <li>In Video Cloud Studio, create your SSAI ad configuration. At completion of the task you will copy the ad server ID to create your advertisement configuration in Beacon Classic.</li>
      <li>In Beacon Classic create your advertisement configuration, which you will then be able to apply to your video content.</li>
    </ul>
  </section>

  <section class="bcls-section">
    <h2 id="section-name">Create an SSAI ad configuration ID</h2>
    <p>Follow these steps to create an SSAI ad configuration:</p>
    <ol class="bcls-tasklist-restart">
      <li>In {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %}
        Studio
        {% elsif site.product_short == "Beacon Classic" %}
        Video Cloud Studio
        {% endif %}, navigate to <strong>Admin → Server-Side Ad Settings</strong>.</li>
      <li>
        From the <span class="blue-button">Create Ad Configuration</span> dropdown, select <strong>VOD</strong>
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/create-vod-ad-config.png" alt="Create VOD Ad Config">
          <figcaption class="bcls-caption--image">Create VOD Ad Config</figcaption>
        </figure>
      </li>
      <li>Add a name for the ad config.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/ssai-config-vod.png" alt="SSAI Configuration VOD">
          <figcaption class="bcls-caption--image">SSAI Configuration VOD</figcaption>
        </figure>
      </li>
      <li>Select your ad response - VMAP or VAST is recommended. If you use VAST, you will need to add cuepoints to the videos to specify where ad breaks should appear.</li>
      <li>Paste in your ad tag.</li>
      <li>Click <strong>Save</strong>.</li>
      <li>Find your new ad configuration in the table and copy your ad config ID. You will need this value for the Beacon advertising configuration.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/copy-ad-config-id.png" alt="copy ad config ID">
          <figcaption class="bcls-caption--image">Copy ad config ID</figcaption>
        </figure>
      </li>
    </ol>
  </section>


  <section class="bcls-section">
    <h2 id="Advertisement">Create an advertisement configuration</h2>
    <p>To create an advertisement configuration, follow these steps:</p>
    <ol class="bcls-tasklist">
      <li>In Beacon Classic, in the top navigation select <strong>Advertisement</strong> .
        <figure class="bcls-figure"> <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/new-advertisement.png" alt="New advertisement" />
          <figcaption class="bcls-caption--image">New advertisement</figcaption>
        </figure>
      </li>
      <li>
        Click <span class="button-teal">Add New Configuration</span>.
      </li>
      <li>Name the Ad Configuration.</li>
      <figure class="bcls-figure">
        <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/advertising-configuration.png" alt="Beacon Ad Configuration Live">
        <figcaption class="bcls-caption--image">Beacon Ad Configuration Live</figcaption>
      </figure>
      <li>For the <strong>Provider</strong> select <strong>Brightcove SSAI</strong></li>
      <li>Paste in the <strong>SSAI ad config ID</strong> copied in the steps just above into <strong>VOD Ad Config ID</strong>.</li>
      <li>Click <span class="button-teal">Create New Advertisement</span>.</li>
    </ol>
  </section>
</article>