<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{ page.description }}</summary> {% if site.product_short == "Beacon" または site.product_short == "CorpTV" %}<aside class="bcls-aside bcls-aside--information">ノート：このトピックでは、いくつかの手順を Beacon Classic で実行します。</aside> {% endif %} <section class="bcls-section">
    <h2 id="Overview">概要</h2>
    <p>アドバタイズメント設定を作成するには、次の手順を実行する必要があります。</p>
    <ul>
      <li>広告サービスプロバイダから広告タグサーバーのURLを取得します。これは、VideoCloudStudioでSSAI広告設定を作成するために使用されます。</li>
      <li>VideoCloudStudioでSSAI広告設定を作成します。タスクが完了すると、広告サーバーIDをコピーしてBeaconClassicで広告設定を作成します。</li>
      <li>BeaconClassicでアドバタイズメント設定を作成し、ビデオコンテンツに適用できます。</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="section-name">SSAI広告設定IDの作成</h2>
    <p>SSAIアドコンフィギュレーションを作成する手順は、次のとおりです。</p>
    <ol class="bcls-tasklist-restart">
      <li>{% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %} に移動します。<strong>管理者 → サーバー側の広告設定</strong>.</li>
      <li>
        から<span class="blue-button">広告構成の作成</span>ドロップダウン、選択<strong>VOD</strong> <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/create-vod-ad-config.png" alt="VOD広告設定を作成する"> <figcaption class="bcls-caption--image">VOD広告設定を作成する</figcaption> </figure>
      </li>
      <li>広告設定の名前を追加します。 <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/ssai-config-vod.png" alt="SSAI構成VOD"> <figcaption class="bcls-caption--image">SSAI構成VOD</figcaption> </figure>
      </li>
      <li>広告のレスポンスを選択してください-VMAPまたはVASTを推奨します。VASTを使用する場合は、ビデオにキューポイントを追加して広告ブレークを表示する場所を指定する必要があります。</li>
      <li>広告タグを貼り付けます。</li>
      <li>クリック<strong>保存</strong>.</li>
      <li>テーブルで新しい広告設定を検索し、広告設定IDをコピーします。ビーコンアドバタイジングの設定には、この値が必要です。 <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/copy-ad-config-id.png" alt="広告設定IDのコピー"> <figcaption class="bcls-caption--image">広告設定IDのコピー</figcaption> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Advertisement">アドバタイズメント設定の作成</h2>
    <p>アドバタイズメント設定を作成する手順は、次のとおりです。</p>
    <ol class="bcls-tasklist">
      <li>Beacon Classic では、上部のナビゲーションで選択します<strong>広告</strong>. <figure class="bcls-figure"> <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/new-advertisement.png" alt="新規広告" /> <figcaption class="bcls-caption--image">新規広告</figcaption> </figure>
      </li>
      <li>
        クリック<span class="button-teal">新しい構成を追加</span>.
      </li>
      <li>広告の設定に名前を付けます。</li> <figure class="bcls-figure">
        <img class="bcls-image" src="/assets/images/s-monetization-img/create-advertisement/advertising-configuration.png" alt="ビーコン広告構成ライブ"> <figcaption class="bcls-caption--image">ビーコン広告構成ライブ</figcaption> </figure>
      <li>のために<strong>プロバイダ</strong>選択する<strong>ブライトコーブ SSAI</strong></li>
      <li>に貼り付けます<strong>SSAI 広告設定 ID</strong>直前の手順でコピーした<strong>VOD 広告設定 ID</strong> .</li>
      <li>クリック<span class="button-teal">新しい広告を作成する</span>.</li>
    </ol>  </section></article>