<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{ page.description }}</summary> <aside class="bcls-aside bcls-aside--information">ノート：このトピックでは、一部の手順はVideoCloudStudioで実行され、一部はBeaconClassicで実行されます。</aside> <section class="bcls-section">
    <h2 id="overview">概要</h2>
    <p>サーバーサイド広告は動画ストリームに埋め込まれているため、ブラウザーの広告ブロッカーによってブロックすることはできません。DRM で保護されたコンテンツと非保護コンテンツの両方で動作します。Brightcoveビーコンは、SSAIでVODをサポートしています。</p>
    <p>サーバーサイド広告を追加する手順は次のとおりです。</p>
    <ol>
      <li>In {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %},<a href="#Creating_an_ad_configuration">広告構成を作成します。</a></li>
      <li>In {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %},<a href="#Setting_custom_field_values">カスタム フィールドの値を設定する</a>あなたのビデオのために。</li>
      <li>In {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %},<a href="#Adding_videos_to_a_Playlist">動画をプレイリストに追加する</a>.</li>
      <li>In {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %},<a href="#Importing_videos_and_playlists">動画とプレイリストをインポートする</a>、広告オプションを設定します。</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Best_practices">ベストプラクティス</h2>
    <p>Brightcoveでは、VOD コンテンツにサーバーサイド広告を追加する場合は、次のベストプラクティスに従うことをお勧めします。</p>
    <ul>
      <li>VideoCloudStudioで広告設定を作成します。</li>
      <li>VideoCloudStudioのカスタムフィールドを使用して、ビデオに広告設定を割り当てます。</li>
      <li>のみを使用します<strong>広告</strong>ライブ イベントとチャンネル用の Brightcove ビーコンのセクション。</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Creating_an_ad_configuration">広告構成の作成</h2>
    <p>
      ここでは、SSAI 広告設定を作成して、Brightcove Beacon VOD アセットに表示される広告を定義します。
    </p>
    <ol class="bcls-tasklist-restart">
      <li>{%if site.product_short=="Beacon"またはsite.product_short==&quot;Corp&quot;にログインします。TV&quot;%}Studio{%elsif site.product_short=="BeaconClassic"%}VideoCloudStudio{%endif%}.</li>
      <li>
        プライマリ ナビゲーションで、<strong>管理者</strong>そして選択<strong>サーバー側の広告設定</strong>.すべての広告設定のリストが表示されます。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/1-studio-ssai-settings.png" /> </figure>
      </li>
      <li>
        新しい広告設定を作成するには、<strong>広告構成を作成します。</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/2-create-ad-configuration.png" /> </figure>
      </li>
      <li>
        ドロップダウンから、選択します<strong>VOD</strong>タイプとして。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-vod.png" /> </figure>
      </li>
      <li>
        が表示されていることを確認してください<strong>サーバー側の広告設定</strong>形。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/vod-ad-form.png" /> </figure>
      </li>
      <li>広告構成を与える<strong>名前</strong>.</li>
      <li>
        を選択<strong>広告サーバーの応答</strong>: <table class="bcls-table">
          <thead class="bcls-table__head">
            <tr>
              <th>広告サーバーの応答</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody class="bcls-table__body">
            <tr>
              <td><strong>広大3.0</strong></td>
              <td><a href="https://www.iab.com/guidelines/vast/">デジタル動画広告配信テンプレート</a></td>
            </tr>
            <tr>
              <td><strong>DFP VMAP</strong></td>
              <td><a href="https://www.iab.com/guidelines/vmap/">動画複数広告プレイリスト</a></td>
            </tr>
            <tr>
              <td><strong>DFP (広告ルール)</strong></td>
              <td><a href="https://www.google.com/ads/publisher/#?modal_active=none">パブリッシャー向けのDFP/Googleの独自の形式</a></td>
            </tr>
            <tr>
              <td><strong>スマートXML</strong></td>
              <td><a href="https://www.freewheel.com/">FreeWheel独自のフォーマット</a></td>
            </tr>
          </tbody>
        </table>
        <br /> <aside class="bcls-aside bcls-aside--information"> 選択する正しい値については、広告オペレーションマネージャーにお問い合わせください。 </aside>
      </li>
      <li>入力します<strong>広告タグ (サーバー URL)</strong> .</li>
      <li>クリック<strong>保存</strong>.</li>
      <li>
        後でVODアセットを設定するときに必要になるので、広告設定の ID をコピーします。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/copy-ad-id.png" /> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Setting_custom_field_values">カスタムフィールドの値の設定</h2> <aside class="bcls-aside bcls-aside--information">注:このセクションでは、VideoCloud権限管理カスタムフィールドを使用します。を参照してください<a href="/monetization/general/vc-custom-fields.html">収益化のためのカスタム フィールド</a>Rights Management カスタム フィールドの作成と使用については、ドキュメントを参照してください。</aside>
    <p>このセクションでは、Brightcove BeaconアプリケーションでSSAIを表示するために必要な設定でVODアセットを設定する方法について説明します。</p>
    <ol class="bcls-tasklist-restart">
      <li>
        プライマリ ナビゲーションで、<strong>メディア。</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/studio-home-media.png" /> </figure>
      </li>
      <li>
        SSAI を追加するビデオをクリックします。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-your-video.png" /> </figure>
      </li>
      <li>下にスクロールして<strong>カスタムフィールド</strong>セクション。</li>
      <li>
        クリック<strong>編集。</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/custom-fields-edit.png" /> </figure>
      </li>
      <li>
        下にスクロールして、<strong> beacon.rights.0.adConfiguration</strong>フィールドに、以前に作成した Ad Configuration の ID を貼り付けます。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-ad-id.png" /> </figure>
      </li>
      <li>
        下にスクロールし続け、<strong> beacon.rights.0.type</strong>フィールド書き込み<strong>アヴォド</strong>この VOD を広告 VOD として分類します。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-ad-rights.png" /> </figure>
      </li>
      <li> クリック<strong>保存。</strong> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" width="200" height="200" src="/assets/images/s-monetization-img/vod-ssai/save-button.png" /> </figure> <aside class="bcls-aside bcls-aside--information">デフォルトでは、最大 3 つの SSAI ID とタイプの設定を<strong>カスタムフィールド</strong>セクション。</aside>
      </li>
      <li>
        上部のメニューで、<strong>動画に戻る</strong>. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/back-to-videos.png" /> </figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Adding_videos_to_a_Playlist">プレイリストに動画を追加する</h2>
    <p>このセクションでは、VOD アセットを再生リストに追加します。</p>
    <ol class="bcls-tasklist-restart">
      <li>
        {% if site.product_short == "Beacon" or site.product_short == "CorpTV" %} Studio {% elsif site.product_short == &quot;Beacon Classic&quot; %} Video Cloud Studio {% endif %} で、<strong>メディア。</strong>
      </li>
      <li>
        動画のチェックボックスをクリックします。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-to-playlist.png" /> </figure>
      </li>
      <li>クリック<strong>もっと</strong>.</li>
      <li>クリック<strong>プレイリストに追加する</strong>. <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-more.png" /> </figure>
      </li>
      <li>
        動画を追加するプレイリストを選択します。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/add-button.png" /> </figure>
      </li>
      <li>クリック<strong>追加。</strong></li>
      <li>VOD アセットがプレイリストに追加されたら、Brightcove Beacon プラットフォームに移動します。</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Importing_videos_and_playlists">動画とプレイリストのインポート</h2>
    <p>Brightcove Beacon では、Video Cloud から動画や再生リストを取り込む/読み込むことができます。</p>
    <ol class="bcls-tasklist-restart">
      <li>ビーコンクラシックにログインします。</li>
      <li>上部のメニューで、<strong>ツール</strong>、レンチ アイコンです。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/ingest-videos.jpg" /> </figure>
      </li>
      <li>左側のナビゲーションで、<strong>摂取</strong>.</li>
      <li>
        クリック<strong>ブライトコーブの動画を更新する</strong>および/または<strong>Brightcove プレイリストを更新します。</strong>
      </li>
      <li>これで、Video Cloud の動画と再生リストが Brightcove Beacon に表示されます。上部のメニューで、<strong>プレイリスト</strong>タブ。</li>
      <li>
        プレイリストを選択すると、そのプレイリストに含まれる動画が表示されます。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-playlist.png" /> </figure>
      </li>
      <li>
        左側のコンテンツウィンドウに、そのプレイリストに関連付けられているすべての VOD アセットが表示されていることを確認します。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-content-section.png" /> </figure>
      </li>
      <li>Brightcove ビーコンのトップ メニューで、<strong>映画</strong>タブ。</li>
      <li>
        VOD アセットをクリックします。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-movies.png" /> </figure>
      </li>
      <li>
        クリック<strong>権利とスケジュール</strong>タブ。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-vod-settings.png" /> </figure>
      </li>
      <li>の中に<strong>権利タイプ</strong>メニュー、あなたが見るはずです<strong>広告 - AVOD</strong>選択されました。</li>
      <li>の中に<strong>広告構成</strong>メニューに、以前に作成した広告設定 ID が表示されます。</li>
      <li>
        アプリですぐに動画を表示するには、キャッシュをクリアする必要があります。上部のメニューで、<strong>ツール</strong>(レンチ) ボタンをクリックしてから、キャッシュをクリアします。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/18-clear-cache.png" /> </figure>
      </li>
      <li>左側のナビゲーションで、<strong>キャッシュ</strong>.</li>
      <li>を選択<strong>キャッシュパージ</strong>ボタン。</li>
      <li>
        Brightcove ビーコン アプリを開き、<strong>ページ</strong>プレイリストが追加されたタブ。（画像上のすべてのイベント名と画像は、例のためだけのものです）。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-app.png" /> </figure> <aside class="bcls-aside bcls-aside--information"> Brightcove ビーコンアプリケーションでプレイリストを視覚化するには、まずプレイリストを Brightcove ビーコンページに追加しておく必要があります。プレイリストをページに追加する方法の詳細については、次をご覧ください。<a href="https://beacon.support.brightcove.com/using-brightcove-beacon/adding-to-page.html" target="_blank">ドキュメンテーション</a>. </aside>
      </li>
      <li>サーバーサイド広告で設定した動画をクリックします。</li>
      <li>
        クリック<strong>遊ぶ</strong>ボタンをクリックすると、動画が広告付きで再生されるはずです。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/play-beacon-app.png" /> </figure>
      </li>
    </ol> </section>
  <!-- <section class="bcls-section">
 <h2 id="configuring-vod-beacon">Configuring your VOD asset in Brightcove Beacon</h2> <p>In this section you will learn how to configure your VOD with SSAI asset in Brightcove Beacon.</p> <ol class="bcls-tasklist-restart">
 <li>In the Brightcove Beacon top menu, click the <strong>Playlists</strong> tab.</li> <li>
 Select your playlist to see the videos it contains.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/select-playlist.png" /> </figure>
 </li>
 <li>
 Check to be sure you can see all the VOD assets associated with that playlist in the left table of contents.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-content-section.png" /> </figure>
 </li>
 <li>In the Brightcove Beacon top menu, click in the <strong>Movies</strong> tab.</li> <li>
 Click on your VOD asset.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-movies.png" /> </figure>
 </li>
 <li>
 Click the <strong>Rights & Scheduling</strong> tab.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-vod-settings.png" /> </figure>
 </li>
 <li>In the <strong>Rights Type</strong> menu, select <strong>Advertising - AVOD</strong>.</li> <li>In the <strong>Advertisement Configuration</strong> bottom menu, select your previously created Advertisement configuration.</li> <li>Click the <strong>Update Event</strong> button to save your changes.</li> <li>
 Click on the <strong>Tools</strong> (wrench) button in the upper right of the screen, then clear the cache.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/live-ssai/18-clear-cache.png" /> </figure>
 </li>
 <li>
 Open your Brightcove Beacon App and click in the <strong>Page</strong> tab on which your playlist was added. (All the event names and pictures on the image are for example purposes only).
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" src="/assets/images/s-monetization-img/vod-ssai/beacon-app.png" /> </figure>
 <aside class="bcls-aside bcls-aside--information"> To visualize your Playlist in the Brightcove Beacon App, you must have added your playlist to a Brightcove Beacon Page first. To know more about how to add a playlist to a Page please visit the following <a href="https://beacon.support.brightcove.com/using-brightcove-beacon/adding-to-page.html" target="_blank">documentation</a>.
 </aside>
 </li>
 <li>Click your VOD with SSAI asset you configured.</li> <li>
 Click the <strong>Play</strong> button and you should now be able to see your video play with ads.
 <figure class="bcls-figure">
 <img class="bcls-image--no-border" alt="" width="400" height="400" src="/assets/images/s-monetization-img/vod-ssai/play-beacon-app.png" /> </figure>
 </li>
 </ol>
 </section> --> </article>