<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Overview">概要</h2>
    <p>
      SVODプランは、アプリのお客様が特定のビデオセットを購入する方法を定義します。SVOD プランは Brightcove Beacon で作成する必要があります。<a href="/monetization/general/creating-svod-plan.html"> SVOD 計画の作成</a>資料。また、SVOD プランの使用において重要なのは、Video Cloud アカウントの動画用に作成された Video Cloud カスタム フィールドです。<a href="/monetization/general/vc-custom-fields.html"> Video Cloud カスタム フィールドの作成</a>資料。具体的には、<a href="/monetization/general/vc-custom-fields.html#Rights_Management_fields">著作権管理フィールド</a>使用されます。
    </p>  </section><section class="bcls-section">
    <h2 id="Understanding_the_rights_management_custom_fields"> アクセス権管理のカスタムフィールドについて </h2>
    <p>アクセス権管理のカスタムフィールドは、次の項目で構成されます。</p>
    <ul>
      <li>beacon.rights.&lt; &gt;カウンタ.type</li>
      <li>beacon.rights.&lt; &gt;カウンター.startDate</li>
      <li>beacon.rights.&lt; &gt;カウンター.endDate</li>
      <li>beacon.rights.&lt; &gt;カウンター.devices</li>
      <li>beacon.rights.&lt;カウンター &gt;。locationSperMIT</li>
      <li>beacon.rights.&lt; &gt;カウンター.locationsDeny</li>
      <li>beacon.rights.&lt; &gt;counter .packageName</li>
      <li>beacon.rights.&lt; &gt;カウンター.adConfiguration</li>
    </ul>
    <p>
      まず、<strong> &lt;カウンター&gt;</strong>それぞれの名前の一部。これは、権利管理フィールドの複数のセットを作成したい場合に含まれています。<strong> &lt;カウンター&gt;</strong>が利用されるため、配列型の構文を使用して関連するフィールドをグループ化できます。
    </p>
    <p>
      たとえば、休日前後にSVODプランを作成し、次のようなパッケージを用意したいとします。
    </p>
    <ul>
      <li>地球の日</li>
      <li>アーバー・デイ</li>
      <li>新年</li>
    </ul>
    <p>
      Video Cloud に移動して、次のように 0 ～ 2（または 1 ～ 3）のカウンタ値を使用して、3 つのアクセス権管理フィールドを作成する必要があります。
    </p> <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/index-of-rights-fields.png" alt="権利フィールドのインデックス" /> </figure>
    <p>
      要約すると、使用するパッケージごとに、アクセス権管理フィールドのカウンタセットを作成する必要があります。
    </p>  </section><section class="bcls-section">
    <h2 id="Package_and_custom_field_similar_rights"> パッケージとカスタムフィールドの同様の権限 </h2>
    <p>
      データを割り当てて、取り込んだときに動画に適用したカスタムフィールドは、Brightcove Beacon でパッケージを作成するときのフォームフィールドと同じように見えます。たとえば、カスタム フィールド<em>beacon.rights.&lt;カウンター&gt;.locationsDeny</em>そしてパッケージの<strong>拒否された場所</strong>フォーム フィールドが競合しているように見える場合があります。これらの競合を考えるとき、2つの異なる質問があります。 </p>
    <ul>
      <li>動画の権利で再生が許可されていますか？</li>
      <li>ユーザーはパッケージの購読を許可されていますか？</li>
    </ul>
    <p>
      次のシナリオについて考えてみましょう。
    </p>
    <ul>
      <li>
        の終了日<em>beacon.rights.&lt;カウンター&gt;.endDate</em>カスタム フィールドは、パッケージ自体の終了日より後です。つまり、動画の権利により、カスタムフィールドの終了日まで視聴できますが、ユーザーがパッケージにサブスクライブできなかったため、たとえば動画の視聴コストが下がりました。
      </li>
      <li>
        米国、カナダ、メキシコの許可された場所を持つパッケージが作成され、そのパッケージがカスタム フィールドのビデオに割り当てられます。<em> beacon.rights.&lt;カウンター&gt;.packageName</em> .また、ビデオのカスタム フィールドでは、UK は<em>beacon.rights.&lt;カウンター&gt;.locationsPermit</em>カスタムフィールド。パッケージはビデオに割り当てられていますが、英国では購入できません。このビデオは英国で再生できますが、英国のカスタマー向けのパッケージの一部にはできません。
      </li>
      <li>
        米国、カナダ、メキシコの許可された場所を持つパッケージが作成されます。カスタムフィールドでは、米国とカナダがビデオに追加されています<em>beacon.rights.&lt;カウンター&gt;.locationsDeny</em>カスタムフィールド。ここでは、米国、カナダ、メキシコのお客様はパッケージを購読できますが、米国とカナダが拒否されている特定の動画は、ビデオがパッケージに含まれていても、それらの場所のお客様がビデオを表示できなかったことを意味します。
      </li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Subscription_interval_support"> サブスクリプション間隔のサポート
    </h2>
    <p>
      次の表は、各ストアの定期的なサブスクリプションでサポートされている時間間隔を示しています。 </p>
    <table class="bcls-table">
      <!-- <caption class="bcls-caption--table">Table Caption (optional <strong><caption class="bcls-caption--table"></strong>)</caption> -->
      <thead class="bcls-table__head">
        <tr>
          <th>時間間隔</th>
          <th>Appleストア</th>
          <th>Google Playストア</th>
          <th>Rokuストア</th>
          <th>アマゾンストア</th>
          <th>ストライプ</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>1週間</td>
          <td>はい</td>
          <td>はい</td>
          <td></td>
          <td>はい</td>
          <td>はい</td>
        </tr>
        <tr>
          <td>1ヶ月</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
        </tr>
        <tr>
          <td>3ヶ月</td>
          <td>はい</td>
          <td>はい</td>
          <td></td>
          <td>はい</td>
          <td>はい</td>
        </tr>
        <tr>
          <td>6ヵ月</td>
          <td>はい</td>
          <td>はい</td>
          <td></td>
          <td>はい</td>
          <td>はい</td>
        </tr>
        <tr>
          <td>1年</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
          <td>はい</td>
        </tr>
      </tbody>
    </table>  </section><section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> パッケージへの単一のビデオの割り当て
    </h2>
    <p>
      1 つのビデオをパッケージに割り当てるには、Video Cloud Studio を使用する必要があります。以下の手順を実行します。
    </p>
    <ol class="bcls-tasklist">
      <li>Studio で、<strong>メディア</strong>モジュール。</li>
      <li>
        パッケージに追加している動画のタイトルをクリックすると、その動画のプロパティが表示されます。
      </li>
      <li>
        が表示されるまで下にスクロールします。<strong>カスタムフィールド</strong>セクションをクリックし、<strong>編集</strong>ボタン。 <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/single-video-edit-fields.png" alt="権利フィールドのインデックス" /> </figure>
      </li>
      <li>
        Brightcove Beacon で作成された SVOD プランの名前を<code translate="No">beacon.rights.&lt;カウンター&gt;.packageName</code>分野。
      </li>
      <li>
        パッケージを使用しているため、設定する必要があります<code translate="No">beacon.rights.&lt;カウンター&gt;.type</code>に<strong>SVOD</strong> . <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/custom-fields.png" alt="権利フィールドのインデックス" /> </figure>
      </li>
      <li>
        カスタム フィールドのリストの一番下までスクロールし、<strong>保存</strong>ボタン。
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> 複数のビデオをパッケージに割り当てる </h2>
    <p>
      複数のビデオをパッケージに割り当てるには、Video Cloud Studio を使用する必要があります。次のスクリーンショットは、手順を実行するときに役立ちます。 <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/multiple-video-edit.png" alt="権利フィールドのインデックス" /> </figure>
    </p>
    <ol class="bcls-tasklist-restart">
      <li>
        Studio で、<strong>メディア</strong>モジュールを開き、パッケージに追加する各ビデオの前にあるチェックボックスをオンにします。
      </li>
      <li>クリック<strong>クイック編集</strong>ボタン。</li>
      <li>
        の<strong>クイック編集</strong>セクションが画面の右側に表示され、Brightcove Beacon で作成された SVOD プランの名前を<code translate="No">beacon.rights.&lt;カウンター&gt;.packageName</code>分野。
      </li>
      <li>
        パッケージを使用しているため、設定する必要があります<code translate="No">beacon.rights.&lt;カウンター&gt;.type</code>に<strong>SVOD</strong> .
      </li>
      <li>
        の下部に<strong>クイック編集</strong>セクションで、<strong>保存</strong>ボタン。
      </li>
    </ol>
    {% if site.product_short=="Beacon"%}
    <p>ビデオは自動的にBeaconに取り込まれます。</p>
    {% endif %}</section> {% if site.product_short == &quot;ビーコン クラシック&quot; %} <section class="bcls-section">
    <h2 id="Ingesting_the_videos_into_Brightcove_Beacon"> Brightcoveビーコンへの動画の取り込み </h2>
    <p>
      これで、1つまたはビデオがSVODプランに関連付けられました。これで、これらのアソシエーションを Brightcove Beacon に取り込む必要があります。これを行うには、次の手順を実行します。
    </p>
    <ol class="bcls-tasklist-restart">
      <li>Brightcoveビーコンにログインします。</li>
      <li>レンチアイコン (ツール) をクリックします。</li>
      <li>左側のナビゲーションからクリック<strong>摂取</strong>.</li>
      <li>クリック<strong>ブライトコーブの動画を更新する</strong>ボタン。</li>
      <li>
        エラーが報告された場合は、SVODプランに関連するエラーがないことを確認してください。
      </li>
      <li>
        新しい関連付けを Brightcove Beacon ですぐにアクティブにするには、現在のキャッシュをクリアする必要があります。これを行うには、左側のナビゲーションから<strong>キャッシュ</strong>をクリックし、<strong>キャッシュパージ</strong>.
      </li>
    </ol>
    <p>
      このセクションで実行されるアクションの詳細については、<a href="/using-brightcove-beacon/tools.html">ツールの使用</a>資料。
    </p> </section> {% endif %} </article>