<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Overview">Overview</h2>
    <p>
      An SVOD Plan defines how a particular set of videos can be purchased by your apps' customers. The SVOD plan must be created in Brightcove Beacon, and is detailed in the <a href="/monetization/general/creating-svod-plan.html">Creating an SVOD Plan</a> document. Also crucial in the use of the SVOD plan are the Video Cloud custom fields created for videos in a Video Cloud account, as detailed in the
      <a href="/monetization/general/vc-custom-fields.html"> Creating Video Cloud Custom Fields
      </a> document. Specifically, the <a href="/monetization/general/vc-custom-fields.html#Rights_Management_fields"> Rights Management fields
      </a>
      will be used.
    </p>
  </section>
  <section class="bcls-section">
    <h2 id="Understanding_the_rights_management_custom_fields"> Understanding the rights management custom fields </h2>
    <p>The rights management custom fields consist of:</p>
    <ul>
      <li>beacon.rights.&lt;counter&gt;.type</li>
      <li>beacon.rights.&lt;counter&gt;.startDate</li>
      <li>beacon.rights.&lt;counter&gt;.endDate</li>
      <li>beacon.rights.&lt;counter&gt;.devices</li>
      <li>beacon.rights.&lt;counter&gt;.locationsPermit</li>
      <li>beacon.rights.&lt;counter&gt;.locationsDeny</li>
      <li>beacon.rights.&lt;counter&gt;.packageName</li>
      <li>beacon.rights.&lt;counter&gt;.adConfiguration</li>
    </ul>
    <p>
      First consider the <strong>&lt;counter&gt;</strong> part of each name.
      This is included as you may wish to create multiple sets of rights management fields, and the <strong>&lt;counter&gt;</strong> is utilized so you can use array type syntax to group associated fields.
    </p>
    <p>
      For instance, say you wanted to create SVOD plans around holidays and have packages for:
    </p>
    <ul>
      <li>Earth Day</li>
      <li>Arbor Day</li>
      <li>New Years</li>
    </ul>
    <p>
      You must go into Video Cloud and create three sets of rights management fields, using counter values of 0-2 (or 1-3 if you prefer) that would appear as shown here:
    </p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/index-of-rights-fields.png" alt="index of rights fields" />
    </figure>
    <p>
      To summarize, for each package you wish to use you will need to create a "counter" set of rights management fields.
    </p>
  </section>
  <section class="bcls-section">
    <h2 id="Package_and_custom_field_similar_rights"> Package and custom field similar rights </h2>
    <p>
      Some custom fields to which you can assign data, and have applied to a video when ingested, can seem the same as form fields when creating your package in Brightcove Beacon. For example, the custom field <em>beacon.rights.&lt;counter&gt;.locationsDeny</em> and the package's <strong>Denied locations</strong> form field may seem like they could be in conflict. Remember, when considering these "conflicts" there are two different questions being asked, those being: </p>
    <ul>
      <li>Do the rights on the video allow it to play?</li>
      <li>Is a user allowed to subscribe to the package?</li>
    </ul>
    <p>
      Consider these scenarios:
    </p>
    <ul>
      <li>
        An end date in the <em>beacon.rights.&lt;counter&gt;.endDate</em> custom field is later than the end date of the package itself. This means the video's rights would allow it to be viewed until the custom field end date, but the user could not subscribe to the package that may have, for example, lowered the cost of viewing the video.
      </li>
      <li>
        A package is created that has permitted locations of US, Canada and Mexico, and that package is assigned to the video in the custom field <em>beacon.rights.&lt;counter&gt;.packageName</em>. Also in the video's custom fields, UK is placed in the
        <em>beacon.rights.&lt;counter&gt;.locationsPermit</em> custom field. The package is assigned to the video, but the package cannot be purchased in the UK. The video would be able to play in the UK, but it would could not be part of the package for a UK customer.
      </li>
      <li>
        A package is created that has permitted locations of US, Canada and Mexico. In the custom fields US and Canada are added in the video's <em>beacon.rights.&lt;counter&gt;.locationsDeny</em> custom field. Here the customers in US, Canada and Mexico could subscribe to the package, but the specific video where US and Canada are denied locations means the video could not be viewed by customers in those locations even though the video is in the package.
      </li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="Subscription_interval_support"> Subscription interval support
    </h2>
    <p>
      The following table shows the time intervals supported for recurring subscriptions for each store: </p>
    <table class="bcls-table">
      <!-- <caption class="bcls-caption--table">Table Caption (optional <strong><caption class="bcls-caption--table"></strong>)</caption> -->
      <thead class="bcls-table__head">
        <tr>
          <th>Time Interval</th>
          <th>Apple Store</th>
          <th>Google Play Store</th>
          <th>Roku Store</th>
          <th>Amazon Store</th>
          <th>Stripe</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>1 Week</td>
          <td>Yes</td>
          <td>Yes</td>
          <td></td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1 Month</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>3 Months</td>
          <td>Yes</td>
          <td>Yes</td>
          <td></td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>6 Months</td>
          <td>Yes</td>
          <td>Yes</td>
          <td></td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1 Year</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> Assigning a single video to a package
    </h2>
    <p>
      To assign a single video to a package you must use Video Cloud Studio.
      Perform the following steps:
    </p>
    <ol class="bcls-tasklist">
      <li>In Studio, navigate to the <strong>Media</strong> module.</li>
      <li>
        Click on the video's title you are adding to the package to see that video's properties.
      </li>
      <li>
        Scroll down until you see the <strong>Custom Fields</strong> section on the right hand side and click the <strong>Edit</strong> button.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/single-video-edit-fields.png" alt="index of rights fields" />
        </figure>
      </li>
      <li>
        Place the name of the SVOD plan created in Brightcove Beacon in the
        <code translate="No">beacon.rights.&lt;counter&gt;.packageName</code> field.
      </li>
      <li>
        Since you are using a package, you MUST set the <code translate="No">beacon.rights.&lt;counter&gt;.type</code> to <strong>SVOD</strong>.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/custom-fields.png" alt="index of rights fields" />
        </figure>
      </li>
      <li>
        Scroll to the bottom of the list of custom fields and click the <strong>Save</strong> button.
      </li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="Assigning_a_single_video_to_a_package"> Assigning multiple videos to a package </h2>
    <p>
      To assign multiple videos to a package you must use Video Cloud Studio.
      The following screenshot is helpful when performing the steps:
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/s-monetization-img/using-subscription-package/multiple-video-edit.png" alt="index of rights fields" />
    </figure>
    </p>
    <ol class="bcls-tasklist-restart">
      <li>
        In Studio, navigate to the <strong>Media</strong> module and check the checkbox in front of each video you wish to add to the package.
      </li>
      <li>Click the <strong>Quick Edit</strong> button.</li>
      <li>
        The <strong>Quick Edit</strong> section appears on the right side of the screen, and there you can place the name of the SVOD plan created in Brightcove Beacon in the
        <code translate="No">beacon.rights.&lt;counter&gt;.packageName</code> field.
      </li>
      <li>
        Since you are using a package, you MUST set the <code translate="No">beacon.rights.&lt;counter&gt;.type</code> to <strong>SVOD</strong>.
      </li>
      <li>
        At the bottom of the <strong>Quick Edit</strong> section, click the <strong>Save</strong> button.
      </li>
    </ol>
    {% if site.product_short == "Beacon" %}
    <p>The videos will automatically be ingested into Beacon.</p>
    {% endif %}
  </section>

  {% if site.product_short == "Beacon Classic" %}
  <section class="bcls-section">
    <h2 id="Ingesting_the_videos_into_Brightcove_Beacon"> Ingesting the videos into Brightcove Beacon </h2>
    <p>
      You now have associated one or videos with your SVOD plan. You now have to ingest those associations into Brightcove Beacon. To do this, follow these steps:
    </p>
    <ol class="bcls-tasklist-restart">
      <li>Log in to Brightcove Beacon.</li>
      <li>Click on the wrench icon (Tools).</li>
      <li>From the left side navigation click <strong>Ingestion</strong>.</li>
      <li>Click the <strong>Update Brightcove Videos</strong> button.</li>
      <li>
        If any errors are reported, check those to be sure none are related to your SVOD plan.
      </li>
      <li>
        If you wish to have the new associations immediately active in Brightcove Beacon, you must clear the current cache. To do this, from the left side navigation click <strong>Cache</strong>, then click <strong>Cache Purge</strong>.
      </li>
    </ol>
    <p>
      For more details on the actions taken in this section, see the <a href="/using-brightcove-beacon/tools.html">Using the Tools</a> document.
    </p>
  </section>
  {% endif %}
</article>